[Desktop Entry]
Encoding=UTF-8
Name=Kover
Comment=Outil de création de jaquettes pour CD et DVD
Exec=/usr/local/bin/kover
Icon=kover
Terminal=false
Type=Application
Categories=Graphics
StartupNotify=true

