[Desktop Entry]
Name=gcolor2
GenericName=A simple GTK+2 color selector
GenericName[fr]=Un éditeur de couleurs simple basé sur GTK+2
Comment=Choose colours from palette or screen
Comment[fr]=Choisir les couleurs d'une palette ou de l'écran
Exec=gcolor2
Icon=/usr/share/pixmaps/gcolor2/icon.png
Type=Application
Terminal=false
StartupNotify=true
Categories=Graphics;2DGraphics
