[Desktop Entry]
Encoding=UTF-8
# The names/descriptions should really be better
Name=pekwm Session
Name[fr]=Session pekwm
Comment[fr]=Sélectionner cette session pour utiliser pekwm me environnment graphique
Exec=startxpekwmwm
Icon=
Type=Application