[Desktop Entry]
Categories=Application;Network;Internet;
Encoding=UTF-8
Exec=wicd-client --no-tray
GenericName=Network Manager
GenericName[fr]=Gestionnaire de réseaux
Icon=wicd-gtk
Comment=Manage Wired/Wireless Networks
Comment[fr]=Gère les réseaux filaires et sans fils
Name=Wicd
Terminal=false
Type=Application
Version=1.0
