[Desktop Entry]
Encoding=UTF-8
# The names/descriptions should really be better
Name=lxde
Name[fr]= lxde
Comment[fr]=Sélectionner cette session pour utiliser lxde comme
environnment graphique
Comment[he]=????? ??? ??? ?????? ?? Xfce ?????? ?????? ???

Exec=startlxde
Icon=
Type=Application
