# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Bluefish
  Exec=bluefish
  Icon=/usr/share/pixmaps/bluefish-icon.png
  Name[fr]=Editeur de textes colorimétrique

