[Desktop Entry]
Encoding=UTF-8
Name=Numpty Physics
Comment=Un jeu de crayon/puzzle dans le style de Crayon Physics
Exec=/usr/bin/numptyphysics
Icon=numptyphysics
Terminal=false
Type=Application
Categories=Game
StartupNotify=true

