# EFLTK INI Version 2.000300

  [Desktop Entry]
    X=32
    Exec=/usr/bin/xfe
    Icon=/usr/share/pixmaps/xfe.png
    Name[fr_CH]=File Manager
    Name=File Manager
    Y=16

