# EFLTK Configuration - Version 2,003000

[Desktop Entry]
  Name=Gparted
  Exec=gksu /usr/sbin/gparted
  Icon=gparted.png
  Name[fr]=Gestionnaire de partitions

